body{
    backgroud-color: #ffff;
}

header{
    backgroud-color: #FAFAFA;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navigation{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 26px 20px;
    flex-wrap: wrap;
}